* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border: 3px solid red;
    padding: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.content{
    min-width: 20rem;
    max-width: 30rem;
    min-height: 10rem;
    border: 3px solid red;
}
.content .input-box{
    display: none;
    flex-direction: column;
}

#next{
    justify-self: center;
    align-self: center  ;
}
.question{
    word-wrap: break-word;
}